/* **************************************************************************
Stile principale per il tabellone dei treni, include le variabili personalizzate, i componenti di Bootstrap e gli stili specifici per il tabellone, come i colori di sfondo, i bordi, le ombre e i colori per i diversi stati dei treni (cancellato, in ritardo, in orario), garantendo un aspetto coerente e professionale per il sito del tabellone delle partenze della stazione centrale.
************************************************************************** */

// resources/sass/app.scss

// Importiamo le variabili personalizzate
@import "variables";

// Importiamo Bootstrap
@import "bootstrap/scss/bootstrap";

// Stili personalizzati per il tabellone
.train-board {
    background-color: #1e272e;
    border: 2px solid #3d3d3d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.table {
    --bs-table-bg: transparent;
    --bs-table-color: #fbc531;
    --bs-table-border-color: #3d3d3d;

    &.table-hover tbody tr:hover {
        --bs-table-hover-bg: rgba(255, 255, 255, 0.05);
        --bs-table-hover-color: #fbc531;
    }
}

.status-cancelled {
    color: #eb4d4b;
}
.status-delayed {
    color: #f0932b;
}
.status-on-time {
    color: #6ab04c;
}
